body
  background: rgb(247, 254, 231)

#app
  margin: calc(85 / 1250 * 100%) calc(85 / 1250 * 100%) 0
  background: #fff
  display: flex
  flex-direction: column
  min-height: 100vh
  border-radius: 20px 20px 0 0
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.04)

._absolute
  position: absolute
  top: 0
  left: 0
  bottom: 0
  right: 0
._cover
  object-fit: cover
